$nav-background-color: #df7197;
$nav-color: #2c2c2c;
$nav-cursor: pointer;
$nav-margin: 1em;
$background-color: #ffd8db;

body{
    background: $background-color;
}

.btn-link{
    color: $nav-color;
    outline: $nav-color;
}

.copyright{
    background-color: $nav-background-color;
}

.custom-footer{
    color: $nav-color;
    text-align: center;
    background-color: $nav-background-color;
    position: relative;
    transform: translate(0%, 10%);
    width: 100%;
}

.description{
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, 0%);
    text-align: center;

    h1{
       color: $nav-background-color; 
    }

    p{
        color: black;
        line-height: 1.5;
        font-size: 1.3rem;
    }

    button{
        border: 1px solid black;
        background: $nav-background-color;
        border-radius: 0;
        color: black;
    }

    button:hover{
        color: black;
        font-weight: bold;
        text-shadow: 0.18em 0.18em 0.36em rgb(63, 63, 63);
        background-color: $nav-background-color;
        border-radius: 0;
        border: 1px solid black;
    }
}

.navbar{
    background: #ffd8db;
    box-shadow: 0rem 0.2rem 0.2rem rgba(black, .3);
}

.nav-link{
    color: $nav-color !important;
    cursor: $nav-cursor;
    margin-right: $nav-margin;
    font-weight: 600;
}

.navbar-brand{
    color: $nav-color;
    cursor: $nav-cursor;
    margin-right: $nav-margin;
    font-family: 'Lily Script One';
    text-shadow: 0.18em 0.18em 0.18em rgb(63, 63, 63);
    font-size: 22px;
    font-weight: bolder;
}

.nav-link:focus,
.dropdown-item:focus{
    color: black;
    font-weight: 600;
    text-shadow: 0.18em 0.18em 0.18em rgb(63, 63, 63);
    background-color: $nav-background-color;
}

.navbar-brand:hover,
.nav-link:hover,
.dropdown-item:hover,
.btn-link:hover{
    color: black;
    font-weight: bold;
    text-shadow: 0.18em 0.18em 0.36em rgb(63, 63, 63);
}

.dropdown-menu{
    background-color: $nav-background-color;
    position: relative;
}

.dropdown-item:hover{
    background-color: $nav-background-color;

}

.navbar-collapse{
    justify-content: flex-end;
}